[data-md-color-scheme="ni"] {
  --md-primary-fg-color:               #044123;
  --md-primary-fg-color--light:        #035332;
  --md-primary-fg-color--dark:         #05381f;
  --md-primary-bg-color:               #F1F1F2;
  --md-primary-bg-color--light:        #FFFFFF;

  --md-accent-fg-color:                #03B585;
  --md-accent-fg-color--transparent:   rgba(3,181,133, 0.1);
  --md-accent-bg-color:                #F1F1F2;
  --md-accent-bg-color--light:         #FFFFFF;

  --md-footer-bg-color:              #CDDCC8;
  --md-footer-bg-color--dark:        #034123;
  --md-footer-fg-color:              #034123;
  --md-footer-fg-color--light:       #03B585;
  --md-footer-fg-color--lighter:     #03b5869f;
}

/* Navigation bars (left and right) */

.md-nav {
  color: #333;
  font-size: 16px;
}

.md-nav label {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.md-nav a {
  color: var(--md-typeset-a-color);
}

.md-nav a:hover, .md-nav a:focus {
  color: var(--md-typeset-a-color);
  text-decoration: underline;
}

.md-nav__item .md-nav__link--active {
  font-weight: 700;
}

/* Textual content (main body and bottom footer) */

.md-typeset {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4 {
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0;
  line-height: 120%;
  margin: 24px 0 0;
}

.md-typeset h1 {
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 15px;
}

.md-typeset h2 {
  font-size: 32px;
  font-weight: 300;
}

.md-typeset h3 {
  font-size: 21px;
  font-weight: 400;
}

.md-typeset h4 {
  font-size: 18px;
  font-weight: 600;
}

.md-typeset a {
  text-decoration: underline;
}

a.headerlink {
  text-decoration: none;
}

/* Footer navigation */

.md-ellipsis {
  font-size: 21px;
}

.md-footer-nav__direction {
  font-size: 16px;
}

/* Footers */

html .md-footer-meta.md-typeset a
{
  color: var(--md-footer-fg-color--lighter);
  text-decoration: none;
}

html .md-footer-meta.md-typeset a:focus, html .md-footer-meta.md-typeset a:hover {
  color: var(--md-footer-fg-color--lighter);
  text-decoration: underline;
}

/* Fonts */

body, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre, code, kbd {
  font-family: SpaceMono, "Courier New", Courier, monospace;
}

/* Admonitions */

.md-typeset .admonition.note {
  border-color: var(--md-accent-fg-color);
}

.md-typeset .note>.admonition-title {
  background-color: var(--md-accent-fg-color--transparent);
  }

.md-typeset .note>.admonition-title::before {
    background-color: var(--md-primary-fg-color--light);
}