[data-md-color-scheme="ni"] {
  --md-primary-fg-color:               #044123;
  --md-primary-fg-color--light:        #035332;
  --md-primary-fg-color--dark:         #05381f;
  --md-primary-bg-color:               #F1F1F2;
  --md-primary-bg-color--light:        #FFFFFF;

  --md-accent-fg-color:                #03B585;
  --md-accent-fg-color--transparent:   hsla(#03B585, 0.1);
  --md-accent-bg-color:                #F1F1F2;
  --md-accent-bg-color--light:         #FFFFFF;

  --md-footer-bg-color:              #CDDCC8;
  --md-footer-bg-color--dark:        #034123;
  --md-footer-fg-color:              #034123;
  --md-footer-fg-color--light:       #03B585;
  --md-footer-fg-color--lighter:     #03b5869f;
}

/* Navigation bars (left and right) */

.md-nav {
  color: #333;
  font-size: 16px;
}

.md-nav label {
  font-weight: 700;
}

.md-nav a {
  color: var(--md-typeset-a-color);
}

.md-nav a:hover, .md-nav a:focus {
  text-decoration: underline;
  color: var(--md-typeset-a-color);
}

.md-nav__item .md-nav__link--active {
  font-weight: 700;
}

/* Textual content (main body and bottom footer) */

.md-typeset {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4 {
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 120%;
  letter-spacing: 0;
  margin: 24px 0 0;
}

.md-typeset h1 {
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 15px;
}

.md-typeset h2 {
  font-size: 32px;
  font-weight: 300;
}

.md-typeset h3 {
  font-size: 21px;
  font-weight: 400;
}

.md-typeset h4 {
  font-size: 18px;
  font-weight: 600;
}

.md-typeset a {
  text-decoration: underline;
}

/* Permalinks to work around https://github.com/timvink/mkdocs-enumerate-headings-plugin/issues/23 */

h1 .enumerate-heading-plugin,
h2 .enumerate-heading-plugin,
h3 .enumerate-heading-plugin,
h4 .enumerate-heading-plugin {
  display: none;
}

.md-typeset h1:hover .toclink:after,
.md-typeset h2:hover .toclink:after,
.md-typeset h3:hover .toclink:after,
.md-typeset h4:hover .toclink:after {
  content: " ¶";
  opacity: 0.6;
}

a.toclink {
  text-decoration: none;
  color: #333;
}

a.toclink:hover, a.toclink:focus {
  color: #333;
}

a.toclink:focus:after {
  content: " ¶";
  opacity: 0.6;
}

/* Footer navigation */

.md-ellipsis {
  font-size: 21px;
}

.md-footer-nav__direction {
  font-size: 16px;
}

/* Footers */

html .md-footer-meta.md-typeset a
{
  text-decoration: none;
  color: var(--md-footer-fg-color--lighter);
}

html .md-footer-meta.md-typeset a:focus, html .md-footer-meta.md-typeset a:hover {
  text-decoration: underline;
  color: var(--md-footer-fg-color--lighter);
}

/* Fonts */

body, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre, code, kbd {
  font-family: SpaceMono, "Courier New", Courier, monospace"
}
