# Build documentation site on PR and merge.

name: Build Documentation

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: gh-pages

    - uses: actions/checkout@v2
      with:
        clean: false
        fetch-depth: 0

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build documentation
      run: mkdocs build --clean

    - name: Run linter
      uses: github/super-linter@v3
      env:
        VALIDATE_ALL_CODEBASE: true
        DEFAULT_BRANCH: master
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        MARKDOWN_CONFIG_FILE: .markdownlint.yaml
        FILTER_REGEX_EXCLUDE: (site/.*|overrides/partials/.*)

    - name: Publish documentation
      if: github.event_name == 'push'
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "Build Documentation GitHub Action"
        mkdocs gh-deploy
